{{ define "home" }}

<!DOCTYPE html>
<html lang="pt-br">

{{ template "header" }}

<body>

  {{ template "navbar" }}

  <div class="container">

    <div class="starter-template">

      <table class="tabela">
        <tbody class="corpo">
          <tr>
            <td class="padding">
              <button class="botao get">GET</button>
            </td>
            <td>/cadastros</td>
            <td>&#8594</td>
            <td>Lista todos os cadastros</td>
          </tr>
          <tr>
            <td class="padding">
              <button class="botao get">GET</button>
            </td>
            <td>/cadastro/{id}</td>
            <td>&#8594</td>
            <td>Lista cadastro com o id que foi passado</td>
          </tr>
          <tr>
            <td class="padding">
              <button class="botao post">POST</button>
            </td>
            <td>/cadastro/{id}</td>
            <td>&#8594</td>
            <td>Cria cadastro com o id que foi passado</td>
          </tr>
          <tr>
            <td class="padding">
              <button class="botao del">DELETE</button>
            </td>
            <td>/cadastro/{id}</td>
            <td>&#8594</td>
            <td>Exclui cadastro com o id que foi passado</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  {{ template "footer" }}

</body>

</html>

{{ end }}